:root {
    --text-xs: 1.23rem;
    --text-s: 1.33rem;
    --text-m: 1.60rem;
    --text-l: 1.92rem;
    --text-xl: 2.19rem;
    --text-2xl: 2.46rem;
    --text-3xl: 2.73rem;
    --text-4xl: 3.0rem;
    --text-5xl: 3.4rem;
    --text-6xl: 3.8rem;
    --text-7xl: 4.1rem;
    --text-8xl: 4.5rem;
    --display-color: var(--neutral-90);
    --text-color: var(--neutral-90);
    --mono-color: var(--neutral-90);
    --display-font: "Inter", sans-serif;
    --body-font: "Inter", sans-serif;
    --expressive-font: "Playfair Display", serif;
    --mono-font: "Roboto Mono", monospace;
    --display-font-family: var(--display-font);
    --heading-font-family: var(--display-font);
    --title-font-family: var(--display-font);
    --label-font-family: var(--body-font);
    --text-font-family: var(--body-font);
    --mono-font-family: var(--mono-font);
    --expressive-font-family: var(--expressive-font);
    --display-l-font-size: var(--text-7xl);
    --display-m-font-size: var(--text-6xl);
    --display-s-font-size: var(--text-5xl);
    --heading-l-font-size: var(--text-4xl);
    --heading-m-font-size: var(--text-3xl);
    --heading-s-font-size: var(--text-2xl);
    --title-l-font-size: calc(var(--text-xl) * 1.1);
    --title-m-font-size: var(--text-xl);
    --title-s-font-size: calc(var(--text-l) * 1.1);
    --label-l-font-size: var(--text-l);
    --label-m-font-size: var(--text-m);
    --label-s-font-size: var(--text-s);
    --label-xs-font-size: var(--text-xs);
    --text-l-font-size: var(--text-l);
    --text-m-font-size: var(--text-m);
    --text-s-font-size: var(--text-s);
    --text-xs-font-size: var(--text-xs);
    --mono-l-font-size: var(--text-l);
    --mono-m-font-size: var(--text-m);
    --mono-s-font-size: var(--text-xs);
    --mono-xs-font-size: var(--text-2xs);
    --display-font-weight: 600;
    --heading-font-weight: 600;
    --title-font-weight: 600;
    --label-font-weight: 500;
    --text-font-weight: 400;
    --mono-font-weight: 400;
    --display-line-height: 1.5;
    --heading-line-height: 1.5;
    --title-line-height: 1.5;
    --label-line-height: 1.5;
    --text-line-height: 1.5;
    --mono-line-height: 1.5;
    --display-letter-spacing: normal;
    --heading-letter-spacing: normal;
    --title-letter-spacing: normal;
    --label-letter-spacing: normal;
    --text-letter-spacing: normal;
    --mono-letter-spacing: normal;
}

.responsive {
    --text-xs: clamp(1.23rem, calc(-0.11vw + 1.28rem), 1.11rem);
    --text-s: clamp(1.31rem, calc(0.02vw + 1.3rem), 1.33rem);
    --text-m: clamp(1.4rem, calc(0.18vw + 1.31rem), 1.6rem);
    --text-l: clamp(1.49rem, calc(0.38vw + 1.31rem), 1.92rem);
    --text-xl: clamp(1.59rem, calc(0.64vw + 1.17rem), 2.19rem);
    --text-2xl: clamp(1.70rem, calc(0.89vw + 1.04rem), 2.46rem);
    --text-3xl: clamp(1.81rem, calc(1.15vw + 0.89rem), 2.73rem);
    --text-4xl: clamp(2.43rem, calc(1.40vw + 0.76rem), 3.0rem);
    --text-5xl: clamp(2.59rem, calc(2.05vw + 0.12rem), 3.4rem);
    --text-6xl: clamp(2.75rem, calc(2.70vw - 0.52rem), 3.8rem);
    --text-7xl: clamp(2.94rem, calc(3.35vw - 1.26rem), 4.1rem);
    --text-8xl: clamp(3.14rem, calc(4.00vw - 1.90rem), 4.5rem);
}
