@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --neutral: var(--neutral-60);
        --neutral-5: black;
        --neutral-10: var(--neutral-default-100);
        --neutral-12: var(--neutral-default-98);
        --neutral-14: var(--neutral-default-96);
        --neutral-16: var(--neutral-default-94);
        --neutral-18: var(--neutral-default-92);
        --neutral-20: var(--neutral-default-90);
        --neutral-22: var(--neutral-default-88);
        --neutral-24: var(--neutral-default-86);
        --neutral-26: var(--neutral-default-84);
        --neutral-28: var(--neutral-default-82);
        --neutral-30: var(--neutral-default-80);
        --neutral-40: var(--neutral-default-70);
        --neutral-50: var(--neutral-default-60);
        --neutral-60: var(--neutral-default-50);
        --neutral-70: var(--neutral-default-40);
        --neutral-80: var(--neutral-default-30);
        --neutral-82: var(--neutral-default-28);
        --neutral-84: var(--neutral-default-26);
        --neutral-86: var(--neutral-default-24);
        --neutral-88: var(--neutral-default-22);
        --neutral-90: var(--neutral-default-20);
        --neutral-92: var(--neutral-default-18);
        --neutral-94: var(--neutral-default-16);
        --neutral-96: var(--neutral-default-14);
        --neutral-98: var(--neutral-default-12);
        --neutral-100: var(--neutral-default-10);
        --display-color: var(--neutral-90);
        --text-color: var(--neutral-90);
        --mono-color: var(--neutral-90);
        color: var(--text-color);
        --color-5: var(--brand-100);
        --color-10: var(--brand-90);
        --color-20: var(--brand-80);
        --color-30: var(--brand-70);
        --color-40: var(--brand-60);
        --color-50: var(--brand-50);
        --color-60: var(--brand-40);
        --color-70: var(--brand-30);
        --color-80: var(--brand-20);
        --color-90: var(--brand-10);
        --color-100: var(--brand-5);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --neutral: var(--neutral-60);
        --neutral-5: var(--neutral-default-5);
        --neutral-10: var(--neutral-default-10);
        --neutral-12: var(--neutral-default-12);
        --neutral-14: var(--neutral-default-14);
        --neutral-16: var(--neutral-default-16);
        --neutral-18: var(--neutral-default-18);
        --neutral-20: var(--neutral-default-20);
        --neutral-22: var(--neutral-default-22);
        --neutral-24: var(--neutral-default-24);
        --neutral-26: var(--neutral-default-26);
        --neutral-28: var(--neutral-default-28);
        --neutral-30: var(--neutral-default-30);
        --neutral-40: var(--neutral-default-40);
        --neutral-50: var(--neutral-default-50);
        --neutral-60: var(--neutral-default-60);
        --neutral-70: var(--neutral-default-70);
        --neutral-80: var(--neutral-default-80);
        --neutral-82: var(--neutral-default-82);
        --neutral-84: var(--neutral-default-84);
        --neutral-86: var(--neutral-default-86);
        --neutral-88: var(--neutral-default-88);
        --neutral-90: var(--neutral-default-90);
        --neutral-92: var(--neutral-default-92);
        --neutral-94: var(--neutral-default-94);
        --neutral-96: var(--neutral-default-96);
        --neutral-98: var(--neutral-default-98);
        --neutral-100: var(--neutral-default-100);
        --display-color: var(--neutral-default-90);
        --text-color: var(--neutral-default-90);
        --mono-color: var(--neutral-default-90);
        color: var(--text-color);
        --color-5: var(--brand-5);
        --color-10: var(--brand-10);
        --color-20: var(--brand-20);
        --color-30: var(--brand-30);
        --color-40: var(--brand-40);
        --color-50: var(--brand-50);
        --color-60: var(--brand-60);
        --color-70: var(--brand-70);
        --color-80: var(--brand-80);
        --color-90: var(--brand-90);
        --color-100: var(--brand-100);
    }
} */

html[data-color-mode="dark"],
html[data-color-mode="dark"] :is([class*='color-'], [class*='neutral-']),
.dark {
    --neutral: var(--neutral-60);
    --neutral-5: black;
    --neutral-10: var(--neutral-default-100);
    --neutral-12: var(--neutral-default-98);
    --neutral-14: var(--neutral-default-96);
    --neutral-16: var(--neutral-default-94);
    --neutral-18: var(--neutral-default-92);
    --neutral-20: var(--neutral-default-90);
    --neutral-22: var(--neutral-default-88);
    --neutral-24: var(--neutral-default-86);
    --neutral-26: var(--neutral-default-84);
    --neutral-28: var(--neutral-default-82);
    --neutral-30: var(--neutral-default-80);
    --neutral-40: var(--neutral-default-70);
    --neutral-50: var(--neutral-default-60);
    --neutral-60: var(--neutral-default-50);
    --neutral-70: var(--neutral-default-40);
    --neutral-80: var(--neutral-default-30);
    --neutral-82: var(--neutral-default-28);
    --neutral-84: var(--neutral-default-26);
    --neutral-86: var(--neutral-default-24);
    --neutral-88: var(--neutral-default-22);
    --neutral-90: var(--neutral-default-20);
    --neutral-92: var(--neutral-default-18);
    --neutral-94: var(--neutral-default-16);
    --neutral-96: var(--neutral-default-14);
    --neutral-98: var(--neutral-default-12);
    --neutral-100: var(--neutral-default-10);
    --display-color: var(--neutral-90);
    --text-color: var(--neutral-90);
    --mono-color: var(--neutral-90);
    color: var(--text-color);
    --color-5: var(--brand-100);
    --color-10: var(--brand-90);
    --color-20: var(--brand-80);
    --color-30: var(--brand-70);
    --color-40: var(--brand-60);
    --color-50: var(--brand-50);
    --color-60: var(--brand-40);
    --color-70: var(--brand-30);
    --color-80: var(--brand-20);
    --color-90: var(--brand-10);
    --color-100: var(--brand-5);
}

html:not([data-color-mode]),
html:not([data-color-mode]) :is([class*='color-'], [class*='neutral-']),
html[data-color-mode="light"],
html[data-color-mode="light"] :is([class*='color-'], [class*='neutral-']),
.light {
    --neutral: var(--neutral-60);
    --neutral-5: var(--neutral-default-5);
    --neutral-10: var(--neutral-default-10);
    --neutral-12: var(--neutral-default-12);
    --neutral-14: var(--neutral-default-14);
    --neutral-16: var(--neutral-default-16);
    --neutral-18: var(--neutral-default-18);
    --neutral-20: var(--neutral-default-20);
    --neutral-22: var(--neutral-default-22);
    --neutral-24: var(--neutral-default-24);
    --neutral-26: var(--neutral-default-26);
    --neutral-28: var(--neutral-default-28);
    --neutral-30: var(--neutral-default-30);
    --neutral-40: var(--neutral-default-40);
    --neutral-50: var(--neutral-default-50);
    --neutral-60: var(--neutral-default-60);
    --neutral-70: var(--neutral-default-70);
    --neutral-80: var(--neutral-default-80);
    --neutral-82: var(--neutral-default-82);
    --neutral-84: var(--neutral-default-84);
    --neutral-86: var(--neutral-default-86);
    --neutral-88: var(--neutral-default-88);
    --neutral-90: var(--neutral-default-90);
    --neutral-92: var(--neutral-default-92);
    --neutral-94: var(--neutral-default-94);
    --neutral-96: var(--neutral-default-96);
    --neutral-98: var(--neutral-default-98);
    --neutral-100: var(--neutral-default-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
    color: var(--text-color);
    --color-5: var(--brand-5);
    --color-10: var(--brand-10);
    --color-20: var(--brand-20);
    --color-30: var(--brand-30);
    --color-40: var(--brand-40);
    --color-50: var(--brand-50);
    --color-60: var(--brand-60);
    --color-70: var(--brand-70);
    --color-80: var(--brand-80);
    --color-90: var(--brand-90);
    --color-100: var(--brand-100);
}