.neutral-cool {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-cool-5);
    --neutral-default-10: var(--neutral-cool-10);
    --neutral-default-12: var(--neutral-cool-12);
    --neutral-default-14: var(--neutral-cool-14);
    --neutral-default-16: var(--neutral-cool-16);
    --neutral-default-18: var(--neutral-cool-18);
    --neutral-default-20: var(--neutral-cool-20);
    --neutral-default-22: var(--neutral-cool-22);
    --neutral-default-24: var(--neutral-cool-24);
    --neutral-default-26: var(--neutral-cool-26);
    --neutral-default-28: var(--neutral-cool-28);
    --neutral-default-30: var(--neutral-cool-30);
    --neutral-default-40: var(--neutral-cool-40);
    --neutral-default-50: var(--neutral-cool-50);
    --neutral-default-60: var(--neutral-cool-60);
    --neutral-default-70: var(--neutral-cool-70);
    --neutral-default-80: var(--neutral-cool-80);
    --neutral-default-82: var(--neutral-cool-82);
    --neutral-default-84: var(--neutral-cool-84);
    --neutral-default-86: var(--neutral-cool-86);
    --neutral-default-88: var(--neutral-cool-88);
    --neutral-default-90: var(--neutral-cool-90);
    --neutral-default-92: var(--neutral-cool-92);
    --neutral-default-94: var(--neutral-cool-94);
    --neutral-default-96: var(--neutral-cool-96);
    --neutral-default-98: var(--neutral-cool-98);
    --neutral-default-100: var(--neutral-cool-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
.neutral-slate {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-slate-5);
    --neutral-default-10: var(--neutral-slate-10);
    --neutral-default-12: var(--neutral-slate-12);
    --neutral-default-14: var(--neutral-slate-14);
    --neutral-default-16: var(--neutral-slate-16);
    --neutral-default-18: var(--neutral-slate-18);
    --neutral-default-20: var(--neutral-slate-20);
    --neutral-default-22: var(--neutral-slate-22);
    --neutral-default-24: var(--neutral-slate-24);
    --neutral-default-26: var(--neutral-slate-26);
    --neutral-default-28: var(--neutral-slate-28);
    --neutral-default-30: var(--neutral-slate-30);
    --neutral-default-40: var(--neutral-slate-40);
    --neutral-default-50: var(--neutral-slate-50);
    --neutral-default-60: var(--neutral-slate-60);
    --neutral-default-70: var(--neutral-slate-70);
    --neutral-default-80: var(--neutral-slate-80);
    --neutral-default-82: var(--neutral-slate-82);
    --neutral-default-84: var(--neutral-slate-84);
    --neutral-default-86: var(--neutral-slate-86);
    --neutral-default-88: var(--neutral-slate-88);
    --neutral-default-90: var(--neutral-slate-90);
    --neutral-default-92: var(--neutral-slate-92);
    --neutral-default-94: var(--neutral-slate-94);
    --neutral-default-96: var(--neutral-slate-96);
    --neutral-default-98: var(--neutral-slate-98);
    --neutral-default-100: var(--neutral-slate-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
.neutral-gray {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-gray-5);
    --neutral-default-10: var(--neutral-gray-10);
    --neutral-default-12: var(--neutral-gray-12);
    --neutral-default-14: var(--neutral-gray-14);
    --neutral-default-16: var(--neutral-gray-16);
    --neutral-default-18: var(--neutral-gray-18);
    --neutral-default-20: var(--neutral-gray-20);
    --neutral-default-22: var(--neutral-gray-22);
    --neutral-default-24: var(--neutral-gray-24);
    --neutral-default-26: var(--neutral-gray-26);
    --neutral-default-28: var(--neutral-gray-28);
    --neutral-default-30: var(--neutral-gray-30);
    --neutral-default-40: var(--neutral-gray-40);
    --neutral-default-50: var(--neutral-gray-50);
    --neutral-default-60: var(--neutral-gray-60);
    --neutral-default-70: var(--neutral-gray-70);
    --neutral-default-80: var(--neutral-gray-80);
    --neutral-default-82: var(--neutral-gray-82);
    --neutral-default-84: var(--neutral-gray-84);
    --neutral-default-86: var(--neutral-gray-86);
    --neutral-default-88: var(--neutral-gray-88);
    --neutral-default-90: var(--neutral-gray-90);
    --neutral-default-92: var(--neutral-gray-92);
    --neutral-default-94: var(--neutral-gray-94);
    --neutral-default-96: var(--neutral-gray-96);
    --neutral-default-98: var(--neutral-gray-98);
    --neutral-default-100: var(--neutral-gray-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
.neutral-onyx {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-onyx-5);
    --neutral-default-10: var(--neutral-onyx-10);
    --neutral-default-12: var(--neutral-onyx-12);
    --neutral-default-14: var(--neutral-onyx-14);
    --neutral-default-16: var(--neutral-onyx-16);
    --neutral-default-18: var(--neutral-onyx-18);
    --neutral-default-20: var(--neutral-onyx-20);
    --neutral-default-22: var(--neutral-onyx-22);
    --neutral-default-24: var(--neutral-onyx-24);
    --neutral-default-26: var(--neutral-onyx-26);
    --neutral-default-28: var(--neutral-onyx-28);
    --neutral-default-30: var(--neutral-onyx-30);
    --neutral-default-40: var(--neutral-onyx-40);
    --neutral-default-50: var(--neutral-onyx-50);
    --neutral-default-60: var(--neutral-onyx-60);
    --neutral-default-70: var(--neutral-onyx-70);
    --neutral-default-80: var(--neutral-onyx-80);
    --neutral-default-82: var(--neutral-onyx-82);
    --neutral-default-84: var(--neutral-onyx-84);
    --neutral-default-86: var(--neutral-onyx-86);
    --neutral-default-88: var(--neutral-onyx-88);
    --neutral-default-90: var(--neutral-onyx-90);
    --neutral-default-92: var(--neutral-onyx-92);
    --neutral-default-94: var(--neutral-onyx-94);
    --neutral-default-96: var(--neutral-onyx-96);
    --neutral-default-98: var(--neutral-onyx-98);
    --neutral-default-100: var(--neutral-onyx-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
.neutral-mono {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-mono-5);
    --neutral-default-10: var(--neutral-mono-10);
    --neutral-default-12: var(--neutral-mono-12);
    --neutral-default-14: var(--neutral-mono-14);
    --neutral-default-16: var(--neutral-mono-16);
    --neutral-default-18: var(--neutral-mono-18);
    --neutral-default-20: var(--neutral-mono-20);
    --neutral-default-22: var(--neutral-mono-22);
    --neutral-default-24: var(--neutral-mono-24);
    --neutral-default-26: var(--neutral-mono-26);
    --neutral-default-28: var(--neutral-mono-28);
    --neutral-default-30: var(--neutral-mono-30);
    --neutral-default-40: var(--neutral-mono-40);
    --neutral-default-50: var(--neutral-mono-50);
    --neutral-default-60: var(--neutral-mono-60);
    --neutral-default-70: var(--neutral-mono-70);
    --neutral-default-80: var(--neutral-mono-80);
    --neutral-default-82: var(--neutral-mono-82);
    --neutral-default-84: var(--neutral-mono-84);
    --neutral-default-86: var(--neutral-mono-86);
    --neutral-default-88: var(--neutral-mono-88);
    --neutral-default-90: var(--neutral-mono-90);
    --neutral-default-92: var(--neutral-mono-92);
    --neutral-default-94: var(--neutral-mono-94);
    --neutral-default-96: var(--neutral-mono-96);
    --neutral-default-98: var(--neutral-mono-98);
    --neutral-default-100: var(--neutral-mono-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
.neutral-warm {
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-warm-5);
    --neutral-default-10: var(--neutral-warm-10);
    --neutral-default-12: var(--neutral-warm-12);
    --neutral-default-14: var(--neutral-warm-14);
    --neutral-default-16: var(--neutral-warm-16);
    --neutral-default-18: var(--neutral-warm-18);
    --neutral-default-20: var(--neutral-warm-20);
    --neutral-default-22: var(--neutral-warm-22);
    --neutral-default-24: var(--neutral-warm-24);
    --neutral-default-26: var(--neutral-warm-26);
    --neutral-default-28: var(--neutral-warm-28);
    --neutral-default-30: var(--neutral-warm-30);
    --neutral-default-40: var(--neutral-warm-40);
    --neutral-default-50: var(--neutral-warm-50);
    --neutral-default-60: var(--neutral-warm-60);
    --neutral-default-70: var(--neutral-warm-70);
    --neutral-default-80: var(--neutral-warm-80);
    --neutral-default-82: var(--neutral-warm-82);
    --neutral-default-84: var(--neutral-warm-84);
    --neutral-default-86: var(--neutral-warm-86);
    --neutral-default-88: var(--neutral-warm-88);
    --neutral-default-90: var(--neutral-warm-90);
    --neutral-default-92: var(--neutral-warm-92);
    --neutral-default-94: var(--neutral-warm-94);
    --neutral-default-96: var(--neutral-warm-96);
    --neutral-default-98: var(--neutral-warm-98);
    --neutral-default-100: var(--neutral-warm-100);
    --display-color: var(--neutral-default-90);
    --text-color: var(--neutral-default-90);
    --mono-color: var(--neutral-default-90);
}
