:root {
    --primary: var(--color-60);
    --red: var(--red-60);
    --orange: var(--orange-60);
    --amber: var(--amber-60);
    --yellow: var(--yellow-60);
    --lime: var(--lime-60);
    --green: var(--green-60);
    --emerald: var(--emerald-60);
    --teal: var(--teal-60);
    --cyan: var(--cyan-60);
    --sky: var(--sky-60);
    --indigo: var(--indigo-60);
    --violet: var(--violet-60);
    --purple: var(--purple-60);
    --fuchsia: var(--fuchsia-60);
    --pink: var(--pink-60);
    --rose: var(--rose-60);
    --error: var(--error-60);
    --warning: var(--warning-60);
    --success: var(--success-60);
    --brand-5: #e6f0f0;
    --brand-10: #cce1e1;
    --brand-20: #a4c7c9;
    --brand-30: #7badb1;
    --brand-40: #539198;
    --brand-50: #2b7580;
    --brand-60: #025768;
    --brand-70: #02485b;
    --brand-80: #023b4e;
    --brand-90: #012e41;
    --brand-100: #012334;
    --red-5: #fef6f6;
    --red-10: #fcecec;
    --red-20: #f6c4c4;
    --red-30: #ef9d9d;
    --red-40: #e97575;
    --red-50: #e24e4e;
    --red-60: #dc2626;
    --red-70: #c5171e;
    --red-80: #aa0b18;
    --red-90: #8c0213;
    --red-100: #66000f;
    --orange-5: #fff1e8;
    --orange-10: #fee3d0;
    --orange-20: #fdcdab;
    --orange-30: #fcb686;
    --orange-40: #fba061;
    --orange-50: #fa893b;
    --orange-60: #f97316;
    --orange-70: #d95707;
    --orange-80: #b33c00;
    --orange-90: #8c2600;
    --orange-100: #661300;
    --amber-5: #fcf4ea;
    --amber-10: #f9e8d5;
    --amber-20: #f4d6b4;
    --amber-30: #eec492;
    --amber-40: #e9b271;
    --amber-50: #e49f4f;
    --amber-60: #df8d2e;
    --amber-70: #cc7117;
    --amber-80: #b05506;
    --amber-90: #883a00;
    --amber-100: #612300;
    --yellow-5: #fffcf3;
    --yellow-10: #fef8e6;
    --yellow-20: #fcebb8;
    --yellow-30: #f9de8a;
    --yellow-40: #f5d05e;
    --yellow-50: #f0c233;
    --yellow-60: #eab308;
    --yellow-70: #c48d05;
    --yellow-80: #9d6b03;
    --yellow-90: #754b01;
    --yellow-100: #4d2e00;
    --lime-5: #f8faef;
    --lime-10: #f1f4de;
    --lime-20: #e0e9bb;
    --lime-30: #cdde99;
    --lime-40: #b7d376;
    --lime-50: #9fc754;
    --lime-60: #85bc31;
    --lime-70: #699e25;
    --lime-80: #4f7f1a;
    --lime-90: #365e11;
    --lime-100: #1f3c09;
    --green-5: #effbf1;
    --green-10: #def6e3;
    --green-20: #b8ecc5;
    --green-30: #93e3a8;
    --green-40: #6dd98e;
    --green-50: #48cf75;
    --green-60: #22c55e;
    --green-70: #17a551;
    --green-80: #0e8343;
    --green-90: #075e32;
    --green-100: #02371f;
    --emerald-5: #f1fbf6;
    --emerald-10: #e2f7ed;
    --emerald-20: #b8ead3;
    --emerald-30: #8edebc;
    --emerald-40: #64d2a6;
    --emerald-50: #3ac593;
    --emerald-60: #10b981;
    --emerald-70: #089e73;
    --emerald-80: #028262;
    --emerald-90: #00624e;
    --emerald-100: #004136;
    --teal-5: #effaf7;
    --teal-10: #def5ef;
    --teal-20: #b6e9dc;
    --teal-30: #8dddcc;
    --teal-40: #65d0bd;
    --teal-50: #3cc4b1;
    --teal-60: #14b8a6;
    --teal-70: #0b9c93;
    --teal-80: #057f7b;
    --teal-90: #015d5f;
    --teal-100: #00393d;
    --cyan-5: #e6fbfb;
    --cyan-10: #daf9f8;
    --cyan-20: #aff0f1;
    --cyan-30: #85e5ea;
    --cyan-40: #5bd8e3;
    --cyan-50: #30c8db;
    --cyan-60: #06b6d4;
    --cyan-70: #0098bb;
    --cyan-80: #00799f;
    --cyan-90: #005c81;
    --cyan-100: #004061;
    --sky-5: #e7fafd;
    --sky-10: #cff4fb;
    --sky-20: #a8e9f7;
    --sky-30: #82dcf4;
    --sky-40: #5bccf0;
    --sky-50: #35baed;
    --sky-60: #0ea5e9;
    --sky-70: #0587cd;
    --sky-80: #0069af;
    --sky-90: #004d8c;
    --sky-100: #003466;
    --indigo-5: #f2f4fe;
    --indigo-10: #e0e4fb;
    --indigo-20: #c5cbf8;
    --indigo-30: #aab0f5;
    --indigo-40: #9094f2;
    --indigo-50: #7576ee;
    --indigo-60: #5d5aeb;
    --indigo-70: #4f47ca;
    --indigo-80: #4236a7;
    --indigo-90: #342683;
    --indigo-100: #25195c;
    --violet-5: #f1effe;
    --violet-10: #eae6fa;
    --violet-20: #d1c7f4;
    --violet-30: #baa8ee;
    --violet-40: #a489e8;
    --violet-50: #906ae2;
    --violet-60: #7e4bdc;
    --violet-70: #6f3bc0;
    --violet-80: #602da2;
    --violet-90: #4f2082;
    --violet-100: #3c1561;
    --purple-5: #f4effc;
    --purple-10: #e9dff8;
    --purple-20: #d5c0f2;
    --purple-30: #c2a1eb;
    --purple-40: #b281e4;
    --purple-50: #a362de;
    --purple-60: #9543d7;
    --purple-70: #8534bc;
    --purple-80: #73279e;
    --purple-90: #5f1c7f;
    --purple-100: #49125f;
    --fuchsia-5: #faf3fc;
    --fuchsia-10: #f5e7f8;
    --fuchsia-20: #e7c0ed;
    --fuchsia-30: #da99e3;
    --fuchsia-40: #d073d8;
    --fuchsia-50: #c74ccd;
    --fuchsia-60: #c025c2;
    --fuchsia-70: #aa1aa6;
    --fuchsia-80: #901287;
    --fuchsia-90: #740b69;
    --fuchsia-100: #57054b;
    --pink-5: #fcf1f7;
    --pink-10: #f9e3ef;
    --pink-20: #f1bed8;
    --pink-30: #e999be;
    --pink-40: #e074a3;
    --pink-50: #d84f86;
    --pink-60: #d02a67;
    --pink-70: #b61e50;
    --pink-80: #9a153b;
    --pink-90: #7d0d28;
    --pink-100: #5d0718;
    --rose-5: #ffedf0;
    --rose-10: #ffdbe1;
    --rose-20: #ffafbc;
    --rose-30: #ff8497;
    --rose-40: #f95c74;
    --rose-50: #e93f53;
    --rose-60: #d32837;
    --rose-70: #b81c37;
    --rose-80: #9a1335;
    --rose-90: #7b0b31;
    --rose-100: #5a0629;
    --error-5: #fbeded;
    --error-10: #f6dada;
    --error-20: #eeb9b8;
    --error-30: #e59796;
    --error-40: #dd7674;
    --error-50: #d45552;
    --error-60: #cc3330;
    --error-70: #ad292c;
    --error-80: #8f2229;
    --error-90: #701a24;
    --error-100: #52131c;
    --warning-5: #fef4e7;
    --warning-10: #fde9ce;
    --warning-20: #fcd7a6;
    --warning-30: #fbc57f;
    --warning-40: #fab458;
    --warning-50: #f8a230;
    --warning-60: #f79009;
    --warning-70: #d27208;
    --warning-80: #ad5706;
    --warning-90: #883f05;
    --warning-100: #632a04;
    --success-5: #ecf9f0;
    --success-10: #d8f2e1;
    --success-20: #b9e8ca;
    --success-30: #9addb5;
    --success-40: #7ad3a1;
    --success-50: #5bc88f;
    --success-60: #3cbe7e;
    --success-70: #329f6e;
    --success-80: #287f5c;
    --success-90: #1e6048;
    --success-100: #144132;
}
