:root {
    --neutral-cool-5: #f7f8fa;
    --neutral-cool-10: #eff0f4;
    --neutral-cool-12: #e9ebf0;
    --neutral-cool-14: #e4e6ec;
    --neutral-cool-16: #dee0e8;
    --neutral-cool-18: #d9dbe4;
    --neutral-cool-20: #d3d6e0;
    --neutral-cool-22: #cdd1dc;
    --neutral-cool-24: #c7cbd8;
    --neutral-cool-26: #c2c6d4;
    --neutral-cool-28: #bcc0d0;
    --neutral-cool-30: #b6bbcc;
    --neutral-cool-40: #99a0b8;
    --neutral-cool-50: #7d86a4;
    --neutral-cool-60: #606b90;
    --neutral-cool-70: #4b5471;
    --neutral-cool-80: #373d52;
    --neutral-cool-82: #33384c;
    --neutral-cool-84: #2f3446;
    --neutral-cool-86: #2a2f3f;
    --neutral-cool-88: #262b39;
    --neutral-cool-90: #222633;
    --neutral-cool-92: #1e212d;
    --neutral-cool-94: #1a1d27;
    --neutral-cool-96: #151820;
    --neutral-cool-98: #11141a;
    --neutral-cool-100: #0d0f14;
    --neutral-slate-5: #f7f8fa;
    --neutral-slate-10: #eef1f4;
    --neutral-slate-12: #e8ecf0;
    --neutral-slate-14: #e2e7ec;
    --neutral-slate-16: #dde1e7;
    --neutral-slate-18: #d7dce3;
    --neutral-slate-20: #d1d7df;
    --neutral-slate-22: #cbd2db;
    --neutral-slate-24: #c6cdd7;
    --neutral-slate-26: #c0c8d2;
    --neutral-slate-28: #bbc3ce;
    --neutral-slate-30: #b5beca;
    --neutral-slate-40: #9aa5b3;
    --neutral-slate-50: #808c9c;
    --neutral-slate-60: #677383;
    --neutral-slate-70: #4e5a6a;
    --neutral-slate-80: #37414f;
    --neutral-slate-82: #333c49;
    --neutral-slate-84: #2f3743;
    --neutral-slate-86: #2a323d;
    --neutral-slate-88: #262d37;
    --neutral-slate-90: #222932;
    --neutral-slate-92: #1e242c;
    --neutral-slate-94: #1a1f26;
    --neutral-slate-96: #151a20;
    --neutral-slate-98: #11151a;
    --neutral-slate-100: #0d1014;
    --neutral-gray-5: #f8f8f9;
    --neutral-gray-10: #f0f1f3;
    --neutral-gray-12: #eaecef;
    --neutral-gray-14: #e5e7ea;
    --neutral-gray-16: #dfe1e6;
    --neutral-gray-18: #dadce1;
    --neutral-gray-20: #d4d7dd;
    --neutral-gray-22: #cfd2d8;
    --neutral-gray-24: #c9cdd4;
    --neutral-gray-26: #c4c8cf;
    --neutral-gray-28: #bec3cb;
    --neutral-gray-30: #b9bec6;
    --neutral-gray-40: #9fa5af;
    --neutral-gray-50: #858c97;
    --neutral-gray-60: #6c737f;
    --neutral-gray-70: #535a65;
    --neutral-gray-80: #3b414b;
    --neutral-gray-82: #373c45;
    --neutral-gray-84: #323740;
    --neutral-gray-86: #2e323a;
    --neutral-gray-88: #292d35;
    --neutral-gray-90: #25292f;
    --neutral-gray-92: #202429;
    --neutral-gray-94: #1c1f24;
    --neutral-gray-96: #171a1e;
    --neutral-gray-98: #131519;
    --neutral-gray-100: #0e1013;
    --neutral-onyx-5: #f8f8f9;
    --neutral-onyx-10: #f0f0f2;
    --neutral-onyx-12: #ebebed;
    --neutral-onyx-14: #e6e6e9;
    --neutral-onyx-16: #e0e0e4;
    --neutral-onyx-18: #dbdbe0;
    --neutral-onyx-20: #d6d6db;
    --neutral-onyx-22: #d1d1d6;
    --neutral-onyx-24: #ccccd2;
    --neutral-onyx-26: #c6c6cd;
    --neutral-onyx-28: #c1c1c9;
    --neutral-onyx-30: #bcbcc4;
    --neutral-onyx-40: #a2a2ac;
    --neutral-onyx-50: #898994;
    --neutral-onyx-60: #70707b;
    --neutral-onyx-70: #575762;
    --neutral-onyx-80: #3e3e48;
    --neutral-onyx-82: #393943;
    --neutral-onyx-84: #35353d;
    --neutral-onyx-86: #303038;
    --neutral-onyx-88: #2b2b32;
    --neutral-onyx-90: #27272d;
    --neutral-onyx-92: #222228;
    --neutral-onyx-94: #1d1d22;
    --neutral-onyx-96: #18181d;
    --neutral-onyx-98: #141417;
    --neutral-onyx-100: #0f0f12;
    --neutral-mono-5: #f8f8f8;
    --neutral-mono-10: #f1f1f1;
    --neutral-mono-12: #ececec;
    --neutral-mono-14: #e7e7e7;
    --neutral-mono-16: #e2e2e2;
    --neutral-mono-18: #dddddd;
    --neutral-mono-20: #d8d8d8;
    --neutral-mono-22: #d3d3d3;
    --neutral-mono-24: #cecece;
    --neutral-mono-26: #c8c8c8;
    --neutral-mono-28: #c3c3c3;
    --neutral-mono-30: #bebebe;
    --neutral-mono-40: #a5a5a5;
    --neutral-mono-50: #8b8b8b;
    --neutral-mono-60: #727272;
    --neutral-mono-70: #5a5a5a;
    --neutral-mono-80: #414141;
    --neutral-mono-82: #3c3c3c;
    --neutral-mono-84: #373737;
    --neutral-mono-86: #323232;
    --neutral-mono-88: #2d2d2d;
    --neutral-mono-90: #292929;
    --neutral-mono-92: #242424;
    --neutral-mono-94: #1f1f1f;
    --neutral-mono-96: #1a1a1a;
    --neutral-mono-98: #151515;
    --neutral-mono-100: #101010;
    --neutral-warm-5: #f9f8f8;
    --neutral-warm-10: #f2f1f0;
    --neutral-warm-12: #edeceb;
    --neutral-warm-14: #e8e7e6;
    --neutral-warm-16: #e4e1e0;
    --neutral-warm-18: #dfdcdb;
    --neutral-warm-20: #dad7d6;
    --neutral-warm-22: #d5d2d1;
    --neutral-warm-24: #d0cdcb;
    --neutral-warm-26: #cbc8c6;
    --neutral-warm-28: #c6c3c0;
    --neutral-warm-30: #c1bebb;
    --neutral-warm-40: #a9a4a0;
    --neutral-warm-50: #918b86;
    --neutral-warm-60: #79716b;
    --neutral-warm-70: #5f5954;
    --neutral-warm-80: #45403d;
    --neutral-warm-82: #403b38;
    --neutral-warm-84: #3b3634;
    --neutral-warm-86: #35322f;
    --neutral-warm-88: #302d2b;
    --neutral-warm-90: #2b2826;
    --neutral-warm-92: #262321;
    --neutral-warm-94: #211e1d;
    --neutral-warm-96: #1b1a18;
    --neutral-warm-98: #161514;
    --neutral-warm-100: #11100f;
    --neutral-default: var(--neutral-default-60);
    --neutral-default-5: var(--neutral-warm-5);
    --neutral-default-10: var(--neutral-warm-10);
    --neutral-default-12: var(--neutral-warm-12);
    --neutral-default-14: var(--neutral-warm-14);
    --neutral-default-16: var(--neutral-warm-16);
    --neutral-default-18: var(--neutral-warm-18);
    --neutral-default-20: var(--neutral-warm-20);
    --neutral-default-22: var(--neutral-warm-22);
    --neutral-default-24: var(--neutral-warm-24);
    --neutral-default-26: var(--neutral-warm-26);
    --neutral-default-28: var(--neutral-warm-28);
    --neutral-default-30: var(--neutral-warm-30);
    --neutral-default-40: var(--neutral-warm-40);
    --neutral-default-50: var(--neutral-warm-50);
    --neutral-default-60: var(--neutral-warm-60);
    --neutral-default-70: var(--neutral-warm-70);
    --neutral-default-80: var(--neutral-warm-80);
    --neutral-default-82: var(--neutral-warm-82);
    --neutral-default-84: var(--neutral-warm-84);
    --neutral-default-86: var(--neutral-warm-86);
    --neutral-default-88: var(--neutral-warm-88);
    --neutral-default-90: var(--neutral-warm-90);
    --neutral-default-92: var(--neutral-warm-92);
    --neutral-default-94: var(--neutral-warm-94);
    --neutral-default-96: var(--neutral-warm-96);
    --neutral-default-98: var(--neutral-warm-98);
    --neutral-default-100: var(--neutral-warm-100);
    --display-default-color: var(--neutral-default-90);
    --text-default-color: var(--neutral-default-90);
    --mono-default-color: var(--neutral-default-90);
    --bg-body: var(--neutral-12);
}
}
