:root {
    --text-xs: clamp(1.23rem, calc(-0.11vw + 1.28rem), 1.11rem);
    --text-s: clamp(1.31rem, calc(0.02vw + 1.3rem), 1.33rem);
    --text-m: clamp(1.4rem, calc(0.18vw + 1.31rem), 1.6rem);
    --text-l: clamp(1.49rem, calc(0.38vw + 1.31rem), 1.92rem);
    --text-xl: clamp(1.59rem, calc(0.63vw + 1.29rem), 2.3rem);
    --text-2xl: clamp(1.7rem, calc(0.95vw + 1.24rem), 2.76rem);
    --text-3xl: clamp(1.81rem, calc(1.34vw + 1.17rem), 3.32rem);
    --text-4xl: clamp(1.94rem, calc(1.83vw + 1.06rem), 3.98rem);
    --text-5xl: clamp(2.07rem, calc(2.42vw + 0.9rem), 4.78rem);
    --text-6xl: clamp(2.2rem, calc(3.15vw + 0.69rem), 5.73rem);
    --text-7xl: clamp(2.35rem, calc(4.04vw + 0.41rem), 6.88rem);
    --text-8xl: clamp(2.51rem, calc(5.13vw + 0.05rem), 8.26rem);
    --display-color: var(--neutral-90);
    --text-color: var(--neutral-90);
    --mono-color: var(--neutral-90);
    --display-font: "Geist", sans-serif;
    --body-font: "Geist", sans-serif;
    --mono-font: "Roboto Mono", monospace;
    --display-font-family: var(--display-font);
    --heading-font-family: var(--display-font);
    --title-font-family: var(--display-font);
    --label-font-family: var(--body-font);
    --text-font-family: var(--body-font);
    --mono-font-family: var(--mono-font);
    --display-l-font-size: var(--text-7xl);
    --display-m-font-size: var(--text-6xl);
    --display-s-font-size: var(--text-5xl);
    --heading-l-font-size: var(--text-4xl);
    --heading-m-font-size: var(--text-3xl);
    --heading-s-font-size: var(--text-2xl);
    --title-l-font-size: calc(var(--text-xl) * 1.1);
    --title-m-font-size: var(--text-xl);
    --title-s-font-size: calc(var(--text-l) * 1.1);
    --label-l-font-size: var(--text-l);
    --label-m-font-size: var(--text-m);
    --label-s-font-size: var(--text-s);
    --label-xs-font-size: var(--text-xs);
    --text-l-font-size: var(--text-l);
    --text-m-font-size: var(--text-m);
    --text-s-font-size: var(--text-s);
    --text-xs-font-size: var(--text-xs);
    --mono-l-font-size: var(--text-l);
    --mono-m-font-size: var(--text-m);
    --mono-s-font-size: var(--text-xs);
    --mono-xs-font-size: var(--text-2xs);
    --display-font-weight: 600;
    --heading-font-weight: 600;
    --title-font-weight: 600;
    --label-font-weight: 500;
    --text-font-weight: 400;
    --mono-font-weight: 400;
    --display-line-height: 1.5;
    --heading-line-height: 1.5;
    --title-line-height: 1.5;
    --label-line-height: 1.5;
    --text-line-height: 1.5;
    --mono-line-height: 1.5;
    --display-letter-spacing: normal;
    --heading-letter-spacing: normal;
    --title-letter-spacing: normal;
    --label-letter-spacing: normal;
    --text-letter-spacing: normal;
    --mono-letter-spacing: normal;
    --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
    --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
    --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
    --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
    --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
    --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
    --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
    --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
    --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
    --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
    --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
    --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
    --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
    --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
    --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
    --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
    --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
    --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
    --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
    --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
    --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
    --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--max-screen-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
}
